body {
margin: 0;
}


.Header {
    display: flex;
    background-color: #1F2937;
}

.Logo {
    padding-left: 150px;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    text-wrap: nowrap;
}

.right-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    margin: 3px;
    gap: 16px;
}

ul {
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.contentstart {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    height: 400px;
}

.contentstarttext {
    flex: 50%;
}

.header1 {
    padding: 75px 0 0 150px;
    color:#f9faf8;
    font-size: 48px;
    font-weight: 900;
    text-wrap: wrap;
    max-width: 75%;
}

.text1 {
    padding-left: 150px;
    color: #E5E7EB;
    font-size: 18px;
    max-width: 50%;
}

.button {
    background-color: #3882F6;
    border-radius: 6px;
    border-color:#1F2937;
    height: 15%;
    margin-top: 10px;
    margin-left: 150px;
    color: white;
    padding: 1em;
    text-wrap: nowrap;
    font-weight: 700;
}

.img1 {
    flex: 50%;
   object-fit: contain;
   max-width: 550px;
   justify-content: flex-end;
   padding: 25px 175px 0 0;
}

.contentmiddle {
    display: flex;
  justify-content: center;
  margin-top: 32px; 
  gap: 52px;
}

.header2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    margin-top: 30px;
}

.pic-image {
    max-width: 200px;
    margin-bottom: 10px;
    border-style: solid;
    border-color:#3882F6;
}

.picture-info{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
}

.contentend {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    max-width: 80%;
    margin: 100px 100px 25px 150px;
    display: flex;
    justify-content: center;
    text-wrap: wrap;
}

.quotename {
    font-size: 36px;
    font-weight: 700;
    margin-top: 20px;
    padding: 20px 220px 100px 100px;
    display: flex;
    justify-content: flex-end;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #3882F6;
    padding: 50px 50px 50px 150px;
}

.button2 {
    background-color: #3882F6;
    border-radius: 6px;
    border-color: white;
    margin-top: 10px;
    margin-right: 150px;
    color: white;
    padding: 20px;
    font-weight: 700;
    text-align: center;
    box-sizing: content-box;
}

.buttonclick {
    display: flex;
    justify-content: flex-end;
    margin-top: -60px;
}

.signuphead {
    color: #f9faf8;
    font-size: 24px;
}

.signuptext {
    color: #E5E7EB;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 50px 0px 50px 0;
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 22px;
}